*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    line-height: 1.5;
}
.hero{
    text-align: center;
    padding: 60px 20px;
    margin-bottom: 40px;
}
.hero h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.hero-description{
    font-size: 18px;
    color: gray;
    max-width: 900px;
    margin: 0 auto 30px;
}
.hero button{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: background-color 0.2s;
}
.hero button:hover{
    background-color: gray;
}
.pricing{
    margin-bottom: 60px;
}
.pricing-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.card{
    width: 340px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.card-header{
    padding: 32px;
    border-bottom: 1px solid gray;
}
.card-header h3{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.card-subtitle{
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-bottom: 24px;
}
.price{
    margin-bottom: 24px;
    text-align: center;
}
.amount{
    font-size: 48px;
    font-weight: 600;
}
.period{
    font-size: 16px;
}
.price-label{
    font-size: 14px;
    color: gray;
    margin-bottom: 4px;
    border: 1px solid gray;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}
.pricing-btn{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    transition: background-color 0.2s;
    margin-bottom: 8px;
}
.pricing-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}
.pricing-btn-second{
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    transition: background-color 0.2s;

}
.pricing-btn-second:hover{
    background-color: black;
    color: white;
}
.card-body{
    padding: 32px;
}
.features{
    color: gray;
    margin-bottom: 20px;
}
.featured-addons h4{
    color: blue;
    font-weight: lighter;
    margin-bottom: 10px;
}
.featured-addons li{
    color: gray;
}
.addons{
    border-radius: 12px;
    padding: 48px 32px;
    margin-bottom: 40px;
}
.addons h2{
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}
.addons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.addon-card{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}
.addon-card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.addon-card p{
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}
.addon-card a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}